body {
    font-family: 'Gill Sans', 'Gill Sans MT' !important;
    background-position: center;
    background-size: 100%;
}

.header {
   color: #676c73;
   padding: 5px 0;
   text-align: center;
}

.blurb {
    background-color: #3c4981;
    color: white;
    text-align: center;
}

.logo img {
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.search {
    text-align: center;
}
